GATEWAY_API_KEY=changeme
TK_PROXY=
GATEWAY_BASE_URL=http://localhost:8549
TK_API_BASE_URL=https://partner.us.tiktokshop.com
TK_REQUEST_TIMEOUT=60
TK_RETRY_COUNT=3
SAMPLE_TASK_INTERVAL_HOURS=24
CREATOR_CACHE_DAYS=30

# DB
# DB_HOST=localhost
# DB_POST=5432
# DB_USERNAME=tkgateway
# DB_PASSWORD=tkgateway
DB_DATABASE=tkgateway