HERMES_UID=10000
HERMES_GID=10000

############### Hermes LLM 使用 Bifrost ###############
BIFROST_API_KEY=sk-xxxxxx

############### Hermes 开启 Api Server ###############
API_SERVER_ENABLED=true
API_SERVER_HOST=0.0.0.0
API_SERVER_KEY=xxxxxx

############### Hermes 开启 Dashboard ###############
HERMES_DASHBOARD=1
HERMES_DASHBOARD_HOST=0.0.0.0
HERMES_DASHBOARD_PORT=9119
HERMES_DASHBOARD_BASIC_AUTH_USERNAME=xxx
HERMES_DASHBOARD_BASIC_AUTH_PASSWORD=xxxxxx
