
############### 接入飞书 ###############
FEISHU_ENABLED=true
FEISHU_APP_ID=cli_xxxxx
FEISHU_APP_SECRET=xxxxxxx
# 群 ID
FEISHU_HOME_CHANNEL=oc_xxxxx
# 群里所有人都能用（仍需 @机器人）
FEISHU_GROUP_POLICY=open
# 允许所有用户发送消息给 agent
FEISHU_ALLOW_ALL_USERS=TRUE
# 只允许特定人使用
# FEISHU_ALLOWED_USERS=ou_xxx
