# 管理员账号
KC_BOOTSTRAP_ADMIN_USERNAME=<admin-username>
KC_BOOTSTRAP_ADMIN_PASSWORD=<admin-password>

# 代理配置（生产常用）
KC_PROXY_HEADERS=xforwarded
# 对外访问域名（需与 Nginx 反代一致）
KC_HOSTNAME=keycloak.makemoney2g.com
# 生产环境开启严格 hostname 校验
KC_HOSTNAME_STRICT=true
# 反代场景保持 HTTP（TLS 由 Nginx 终结）
KC_HTTP_ENABLED=true