# 管理员账号
KC_BOOTSTRAP_ADMIN_USERNAME=<admin-username>
KC_BOOTSTRAP_ADMIN_PASSWORD=<admin-password>

# 代理配置（生产常用）
KC_PROXY_HEADERS=xforwarded
# 测试环境关闭严格 hostname 检查
KC_HOSTNAME_STRICT=false
# 如果前面没有 Nginx HTTPS
KC_HTTP_ENABLED=true